$breakpoints: (
    small: 360px,
    small-mediun: 550px,
    mediun: 766px,
    large: 1024px,
    x-large: 1400px
);

@mixin media($medida){
    @if map-has-key($breakpoints, $medida){
        @media screen and (min-width: map-get($breakpoints, $medida)){
            @content;
        }
    } @else  {
        @media screen and (min-width: $medida){
            @content;
        }
    }
}

