.board{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    &__icon{ 
        margin-left: .5em;
        margin-top: .2em;
        color: $grisClaro;
        cursor: pointer;

    }
    &__text{
        margin-left: .8em;
        font-family: $bold;
        font-size: .7em;
        color: $grisOscuro;
        letter-spacing: .05em;
    }
    &__sidebar-board{
        position: absolute;
        top:0;
        left: -100%;
        width: 60%;
        height: 100%;
        background-color: white;
        @include media(mediun){
            width: 20%;
        }
    }
}
.sidebar-board{
    &__close{
        height: em(50px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: .7em;
        color: $grisOscuro;
        padding: .5em;
        cursor: pointer;
    }
    &__filter{

    }
}