.board{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    &__icon{ 
        margin-left: .5em;
        margin-top: .2em;
        color: $grisClaro;
        cursor: pointer;
    }
    &__text{
        margin-left: .8em;
        font-family: $bold;
        font-size: .7em;
        color: $grisOscuro;
        letter-spacing: .05em;
    }
    &__sidebar-board{
        position: absolute;
        top:0;
        left: -100%;
        width: 60%;
        height: 100%;
        background-color: white;
        @include media(mediun){
            width: 20%;
        }
    }
}
.sidebar-board{
    &__close{
        height: em(50px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: .7em;
        color: $grisOscuro;
        padding: .5em;
        cursor: pointer;
    }
    &__header{
        display: flex;
        align-items: center;    
        padding-left: 1.5em;    
    }
    &__color-cont{
        width: em(40px);
        height: em(40px);
        span {
            display: block;
            color: white;
            padding-top: .2em;
        }
    }
    &__cont-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0;
    }
    &__title{
        margin: 0;
        font-family: $bold;
        color: $negro;
        font-size: 1em;
        letter-spacing: .02em;
    }
    &__text{
        margin: 0;
        font-family: $normal;
        font-size: .8em;
        color: $grisClaro;
    }
    &__filter{

    }
}

.filter{
    margin-left: 1.5em;
    &__title{
        text-transform: uppercase;
        font-size: .8em;
        font-family: $light;
    }
    &__list{
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
    &__item{
        width: 100%;
        display: flex;
        margin-bottom: 1em;
        cursor: pointer;
    }
    &__link{
        align-self: center;
        font-size: .8em;
        &:hover{
            color: $grisOscuro;
        }
    }
}












































.search{
    display: flex;
    align-items: center;
    &__icon{
        margin-left: .5em;
        margin-top: .2em;
        color: $grisClaro;
        cursor: pointer;
    }
    &__input{
       width: 100%;
       border: none;
       font-size: .7em;
       padding-left: .5em;
       letter-spacing: .05em;
       font-style: italic;
       display: none;
       
    }
}




.profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: .5em;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 20px;
        background-color: darken(dodgerblue, 15);
        top: 13px;
        right: 4px;
    }
    &__img{
        width: 22%;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

    }
    &__welcome{
        display: none;
    }
    &__notification{
        display: none;
    }
}


.menu{
    display: flex;
    align-items: center;
    padding: .5em;
    &__icon{
        margin-top: .2em;
        color: $grisClaro;
        cursor: pointer;
    }
}
